html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serisf;
}

/* lists */
.list {
  list-style: none;
  font-size: 1.4rem;
  /* default browser left-padding which did not interfere but removed */
  padding-left: 0;
}

.list--inline {
  display: flex;
}

.list--inline .list__item {
  margin-left: 1.5rem;
}
.list--inline .list__item:hover {
  text-decoration: underline;
}

/* img */
.img {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
  img:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }

  /* nav icon */

  /* quickly fixing a problem with aligning of apps icon */
  .div-align {
    align-items: center;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 40px;
  }
  .div-align:hover {
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 100%;
  }
}
.main-menu__icon:hover {
  border-radius: 100%;
  cursor: pointer;
}
/* main navbar */
.main-menu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 3rem 0 0;
  width: auto;
}

/* Main content */
.main {
  display
}