html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serisf;
}

/* lists */
.list {
  list-style: none;
}

.list--inline {
  display: flex;
}

.list--inline .list__item {
  margin-right: 1rem;
}

/* img */
.img {
  border-radius: 50%;
}
